{% extends 'base.html.twig' %}

{% block body %}

	{% for article in articles %}
		<h1>Liste des articles</h1>
		<article>
			<h2>{{ article.title }}</h2>
			<div class="metadata">
				Ecrit le {{ article.createdAt | date('d/m/Y') }} à {{ article.createdAt | date('H:i')}} dans la catégorie {{ article.category.title }}</div>
			<img src="{{ article.image }}" alt="">
            {{ article.content | raw }}
			<a href="{{ path('blog_show', { 'id' : article.id }) }}">Lire l'article</a>
		</article>
	{% endfor %}

{% endblock %}
