<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Codrix{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <nav>
        <a href="{{ path('home') }}">Codrix</a>
        <div>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="{{ path('blog') }}">Articles</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ path('blog_create') }}">Créer</a></li>
                {% if not app.user %}
                <li class="nav-item"><a class="nav-link" href="{{ path('security_login') }}">Connexion</a></li>
                {% else %}
                <li class="nav-item"><a class="nav-link" href="{{ path('security_logout') }}">Déconnexion</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
        <div class="container">
        {% block body %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
